

/**
 * ==============================================================
 * Landing page
 * ==============================================================
 */

.btn-primary {
	background-color: #79C94F;
	border-color: #79C94F;
}
.btn-primary:hover {
	background-color: #67A54B;
	border-color: #67A54B;
	
}

.btn-primary, .btn-feedback {
	background-color: #4FC66B;
	border-color: #4FC66B;
}
.btn-primary:hover {
	background-color: #4BA05D;
	border-color: #4BA05D;
	
}
.btn-feedback:hover {
	background-color: #4FC66B;
	border-color: #4FC66B;
	cursor: default;
}
.subscribe-form-input.sent {
	display: none;
}

.btn-feedback {
	display: none;
}
.btn-feedback.sent {
	display: block;
	white-space: normal;
}

.hero-images:before {
	content: none;
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.hero-image {
	vertical-align: top;
	max-width: 100%;
	top: 0;
	margin: 0;
}

.hero-title {
	margin-bottom: 24px;
}

.hero-text {
	padding-top: 30px;
}

.hero-description {
	color: white;
	font-size: 20px;

}
	
	
.app-interface {
	position: absolute !important;
	top: 50%;
	margin-top: -18.5%;
	left: 23.1%;
	max-width: 18.7%;
	z-index: 50;
	background: rgba(97,77,160,.6);
	background: #614DA0;
}
.app-interface .app-screen {
	width: 100%;
	
}

.btn-ios {
	opacity: .5;
}
	
	